.main-content {
    background: teal;
    color: white;
    height: 600px;
    background-image: url(../imgs/background.jpg);
    background-size: cover;
}

#ansA,
#ansB,
#ansC {
    padding: 5px;
}

body {
    background-image: url("assets/imgs/background.jpg");
}