.main-content {
    background: teal;
    color: white;
    height: 500px;
}

.answer:hover {
    background: white;
    color: teal;
}

#game-btn {
    background: white;
    color: teal;
    padding: 10px;
}

#game-btn:hover {
    border: solid blue 2px;
}